
html {
    position: relative;
    min-height: 100%;
    background-color: #0000;
  }
  body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
  }
  
  .navbar-brand{
    img{
      background-color: #0000;
      margin: -$navbar-padding-vertical 0;
      height: $navbar-height;
      padding: 10px 0;
    }
  }


  .header-container {
    background-color: #0000;
    background: url('../img/fondo.jpg') no-repeat 50% 0;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
  
    h1 {
      text-shadow: 2px 2px 4px #000000;
      color: #fff;
    }
    // background-attachment: fixed;
    background-size: cover;
    background-position: center 36%;
    margin-top: -37px;
  }
  .texto-justificado {
    text-align: justify;
  }
  
  .navbar-container {
    background-color: #0000;
    font-size: 16px;
  }

  .page-content {
    background-color: #0000;  
    padding-bottom: 20px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 10px;
    background-color: #0000;  
    color: #fff;
  }
  
  .post-list-container {
    li a.active {
      font-weight: bold;
    }
  }
  *[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
    background-color: #0000;
  }
  .navbar-form .has-feedback .form-control-feedback{
    top:10px
  }
  