---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
              <p class="text-center">
                <br />
                </a>
              </p>
            </div>
            <hr>
            {% include section_nav.html %}
        </div>
        <div id="comments">
          <h2>Sección de discusión</h2>
          <script src="https://utteranc.es/client.js"
                  repo="benjamin0jeda/benjamin0jeda.github.io"
                  issue-term="pathname"
                  theme="github-light"
                  crossorigin="anonymous"
                  async>
          </script>
</div>
